<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Forscape</Name>
    <Version>0.0.2</Version>
    <Title>Forscape Installer</Title>
    <Publisher>AutoMath</Publisher>
	<ProductUrl>https://github.com/JohnDTill/Forscape</ProductUrl>
    <InstallerWindowIcon>lambda.ico</InstallerWindowIcon>
    <InstallerApplicationIcon>lambda</InstallerApplicationIcon>
    <StartMenuDir>Forscape</StartMenuDir>
    <TargetDir>@HomeDir@/Forscape</TargetDir>
    <AllowSpaceInPath>true</AllowSpaceInPath>
	<SupportsModify>false</SupportsModify>
	<RunProgram>@TargetDir@/Forscape.exe</RunProgram>
</Installer>