<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Forscape</Name>
    <Version>0.0.1</Version>
    <Title>Forscape Installer</Title>
    <Publisher>AutoMath</Publisher>
    <InstallerWindowIcon>lambda.ico</InstallerWindowIcon>
    <InstallerApplicationIcon>lambda</InstallerApplicationIcon>
    <StartMenuDir>Forscape</StartMenuDir>
    <TargetDir>@HomeDir@/Forscape</TargetDir>
    <AllowSpaceInPath>true</AllowSpaceInPath>
</Installer>